@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Cormorant Infant', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
  cursor: url('../../public/assets/others/cursor_64x64.png'), auto;
}

html, body, #app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #00022c;
  font-family: 'Caudex', serif;

}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 2rem !important;
  }

  p {
    font-size: 0.9rem !important;
    line-height: 1.5 !important;
  }
}

@keyframes swimRight {
  from { transform: translateX(-50vw); }
  to { transform: translateX(120vw); }
}

@keyframes swimLeft {
  from { transform: translateX(120vw) scaleX(-1); }
  to { transform: translateX(-50vw) scaleX(-1); }
}

.fish-swim-right {
  animation: swimRight 25s linear infinite;
}

.fish-swim-left {
  animation: swimLeft 30s linear infinite;
}

.cormorant-infant-<uniquifier> {
  font-family: "Cormorant Infant", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

@keyframes softSway {
    0%, 100% { transform: translateX(0); }
    50% { transform: translateX(40px); }
}

@keyframes particlesFloat {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    10% { opacity: 0.7; }
    90% { opacity: 0.7; }
    100% {
        transform: translateY(110vh);
        opacity: 0;
    }
}
